@import '~antd/lib/style/themes/default.less';

.login-page {
  display: flex;
  height: 100%;
  > .left {
    flex: 1;
    display: flex;
    position: relative;
    .background-block {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .content-block {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .logo-block {
        position: relative;
        text-align: center;
        max-width: 300px;
        margin: auto;
      }
    }
  }
  > .right {
    flex-basis: 400px;
    display: flex;
    position: relative;
    .background-block {
      position: absolute;
      width: 100%;
      height: 100%;

      background-color: #0398ef;
    }
    .content-block {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
      .logo-block {
        display: none;
        max-width: 300px;
        margin-bottom: 40px;
      }
      .login-form-block {
        width: 100%;
        max-width: 300px;
        h2 {
          margin: 0;

          font-family: Poppins;
          font-style: normal;
          font-weight: 800;
          font-size: 36px;
          line-height: 54px;
          /* identical to box height */

          color: #ffffff;
        }
        .login-form {
          margin-top: 10px;
          .ant-form-item-label {
            label {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: @screen-md) {
  .login-page {
    > .left {
      display: none;
    }
    > .right {
      flex: 1;
      .content-block {
        .logo-block {
          display: block;
        }
      }
    }
  }
}
