.menuLeft {
  position: relative;
  z-index: 1;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  min-height: 100%;
  .ant-layout-sider-children {
    .logo {
      position: relative;
      padding: 0 12px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.3s;
      > a {
        display: flex;
        align-items: center;
        height: 64px;
      }
      img {
        display: inline-block;
        max-height: 44px;
        vertical-align: middle;
        margin: auto;
      }
      h1 {
        display: inline-block;
        margin: 0 0 0 12px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        vertical-align: middle;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        opacity: 1;
        transition: all 0.3s;
      }
    }
  }
}

.menu-left-drawer {
  .ant-layout-sider {
    .menuLeft();
  }
}

.basic-layout {
  height: 100%;
  > .ant-layout {
    min-height: 100%;
    .ant-layout-sider {
      .menuLeft();
      &.ant-layout-sider-collapsed {
        .ant-layout-sider-children {
          .logo {
            h1 {
              opacity: 0;
            }
          }
        }
      }
    }
    > .ant-layout {
      > .ant-layout-header {
        position: relative;
        z-index: 1;
        height: 64px;
        padding: 0;
        background: #fff;
        box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
        .trigger {
          padding: 0 24px;
          font-size: 20px;
          cursor: pointer;
          transition: all 0.3s, padding 0s;
        }
        .trigger:hover {
          color: @primary-color;
        }
        .user-dropdown {
          .ant-avatar {
            margin-right: 4px;
          }
        }
        > .ant-row {
          > .ant-col {
            > .ant-space {
              > .ant-space-item {
                &:last-child {
                  margin-right: 16px;
                }
              }
            }
          }
        }
      }
      > .ant-layout-content {
      }
    }
  }
}
