@import (css) url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
@import '~flag-icon-css/less/flag-icon.less';
@import '~antd/dist/antd.less';

#root {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
